<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Поиск заказов</title>
    <link rel="stylesheet" href="/css/layout/general.css">
</head>
<body>
<main style="display: block">
    <form method="get" action="/profile/show">
        <label>Ваше имя: <input name="name"></label>
        <br>
        <label>Номер телефона <input name="phone"></label>

        <input type="submit" value="Искать">
    </form>

    <form action="/">
        <input type="submit" value="Назад">
    </form>
</main>
</body>
</html>